<% include ../top.html%>
<button style="float: right;" type="button" onclick="location.href='/post/create' " class="btn btn-primary">글쓰기</button>
<table class="table">
  <thead>
    <tr>
      <th>이름</th>
      <th>글제목</th>
      <th>날짜</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
      if(i > length){
          i++;
      }else{
        data = post[i]
    %>
    <tr>
      <td><%=data.index_post%></td>
      <td><a href = "/post/contents?id=<%= data.index_post%>"><%= data.title %></a></td>
      <td><%= data.datetime %></td>
    </tr>
    <%
      } 
    }
    %>
  </tbody>
</table>
<div class="w3-container" style="margin-left: 50%;">
  <%for(var j=0; j<post.length / page_num; j++) {%>
  <a href="/post/list/<%=j+1%>" class="w3-button"><%=j+1%></a>
  <%}%>
</div>
<% include ../footer.html%>